.header {
  position: sticky;
  top: var(--wp-admin--admin-bar--height, 0px);
  z-index: 100;
  background-color: rgba(240, 240, 240, 0.902);
  backdrop-filter: blur(8px);
  transition: 0.3s ease;
}

.header[data-sticky-header='active'] {
  box-shadow: 0px 15px 16px 0px rgba(83, 112, 98, 0.35);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  gap: 32px;
  padding-left: var(--add-padding);
  padding-right: var(--add-padding);
}

.header-toggle {
  display: none;
  order: 10;
  flex-shrink: 0;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.header-nav li {
}

.header-nav li a {
  color: #272935;
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 36px;
  position: relative;
}

.header-nav li a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #0c9a48;
  border-radius: 2px;
  transition: 0.3s ease;
  transform: scale(0.5);
  opacity: 0;
}

.header-nav li a:hover {
  color: #0c9a48;
}

.header-nav li.current-menu-item a {
  font-weight: bold;
}

.header-nav li.current-menu-item a::before {
  transform: scale(1);
  opacity: 1;
}

.header-nav--left {
  order: 30;
}

.header-nav--right {
  order: 50;
}

.header-logo {
  display: flex;
  flex-shrink: 0;
  order: 40;
}

.header-instruction {
  position: absolute;
  left: calc((100vw - 1920px) / 2 + (var(--container-padding) / 2));
  top: calc(var(--header-height) + var(--wp-admin--admin-bar--height, 0px) + 16px);
  font-size: 16px;
  line-height: 1;
  background: #78a28d;
  color: #fff;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 23px;
  padding: 0 16px;
  gap: 8px;
  order: 20;

  @media (--max-3xl) {
    left: calc((var(--container-padding) / 2));
  }
}

.header-instruction:hover {
  background: #349966;
}

.header-instruction__icon {
  display: flex;
  font-size: 20px;
  margin-left: -4px;
}

.header-instruction__text {
}

.header-call {
  --size: 54px;

  position: fixed;
  right: calc((100vw - 1920px) / 2 + (var(--container-padding) / 2));
  top: 16px;
  top: 50%;
  transform: translateY(-50%);
  background-image: linear-gradient(to bottom, rgb(0, 63, 19) 0%, rgb(86, 165, 52) 100%);
  border-radius: calc(var(--size) / 2);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0 32px;
  font-size: 24px;
  line-height: 1;
  color: #fff;
  flex-shrink: 0;
  transition: 0.3s ease;
  transition-property: box-shadow;
  order: 60;

  @media (--max-3xl) {
    padding: 0;
    width: var(--size);
    right: calc(
      ((100vw - var(--container-width)) / 2) - (var(--container-padding) / 2) - (var(--size) / 2)
    );
  }

  @media (--max-2xl) {
    --size: 48px;
  }
}

.header-call:hover {
  background-image: linear-gradient(to bottom, rgb(0, 63, 19) 0%, rgb(80, 153, 48) 100%);
  box-shadow: -2.079px 9.781px 16.2px 1.8px rgba(108, 150, 136, 0.47);
}

.header-call__icon {
  font-size: calc(var(--size) * ((1 / 3) * 2));
  display: flex;
  margin-left: -22px;

  @media (--max-3xl) {
    margin-left: 0;
  }
}

.header-call__text {
  @media (--max-3xl) {
    display: none;
  }
}

.header-anchor {
  position: absolute;
  top: 100px;
  height: 0;
  width: 100%;
}
