.header {
  position: sticky;
  top: var(--wp-admin--admin-bar--height, 0px);
  z-index: 100;
}

.header::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(240, 240, 240, 0.902);
  backdrop-filter: blur(8px);
  transition: 0.6s ease;
}

.header[data-sticky-header='active']::before {
  box-shadow: 0px 15px 16px 0px rgba(83, 112, 98, 0.35);
}

.header[data-mobile-menu-state='opened']::before {
  box-shadow: 0px 15px 16px 0px rgba(83, 112, 98, 0.35);
  height: calc(100% + 156px);

  @media (--max-md) {
    height: calc(100% + 280px);
  }
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 107px 1fr;
  gap: 32px;
  align-items: center;
  /*justify-content: space-between;*/
  height: var(--header-height);
  padding-left: var(--add-padding);
  padding-right: var(--add-padding);

  @media (--max-xl) {
    padding-left: 0;
    padding-right: 0;
    gap: 16px;
  }

  @media (--max-lg) {
    grid-template-columns: auto 1fr 107px 1fr auto;
  }

  @media (--max-md) {
    grid-template-columns: auto 1fr 80px 1fr auto;
    margin-left: -12px;
    margin-right: -12px;
  }
}

.header-toggle {
  display: none;

  @media (--max-lg) {
    display: flex;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #003f13, #56a534);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.header-toggle .icon-close {
  display: none;
}

.header-toggle .icon-menu {
  display: flex;
}

.header[data-mobile-menu-state='opened'] .header-toggle .icon-close {
  display: flex;
}

.header[data-mobile-menu-state='opened'] .header-toggle .icon-menu {
  display: none;
}

.header-nav {
  display: flex;
  justify-content: space-around;

  @media (--max-lg) {
    position: absolute;
    top: 100%;
    flex-direction: column;
    padding: var(--container-padding);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    gap: 8px;
  }
}

.header[data-mobile-menu-state='opened'] .header-nav {
  @media (--max-lg) {
    visibility: visible;
    opacity: 1;
    transition: 0.3s ease 0.3s;
  }
}

.header-nav li {
}

.header-nav li a {
  color: #272935;
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 36px;
  position: relative;

  @media (--max-xl) {
    font-size: 16px;
  }
}

.header-nav li a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #0c9a48;
  border-radius: 2px;
  transition: 0.3s ease;
  transform: scale(0.5);
  opacity: 0;
}

.header-nav li a:hover {
  color: #0c9a48;
}

.header-nav li.current-menu-item a {
  font-weight: bold;
}

.header-nav li.current-menu-item a::before {
  transform: scale(1);
  opacity: 1;
}

.header-nav--left {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  @media (--max-lg) {
    right: 50%;
    left: 0;
    padding-right: 0;
  }

  @media (--max-md) {
    right: 0;
    left: 0;
    padding-bottom: 0;
    padding-right: var(--container-padding);
  }
}

.header-nav--right {
  grid-column: 3 / 4;
  grid-row: 1 / 2;

  @media (--max-xl) {
    padding-right: 36px;
  }

  @media (--max-lg) {
    right: 0;
    left: 50%;
    padding-right: var(--container-padding);
    padding-left: 0;
  }

  @media (--max-md) {
    right: 0;
    left: 0;
    padding-top: 0;
    padding-left: var(--container-padding);
    top: calc(100% + 140px);
  }
}

.header-logo {
  display: flex;
  flex-shrink: 0;
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  @media (--max-lg) {
    grid-column: 3 / 4;
  }
}

.header-instruction {
  --top: 16px;
  position: absolute;
  left: calc((100vw - 1920px) / 2 + (var(--container-padding) / 2));
  top: calc(var(--header-height) + var(--wp-admin--admin-bar--height, 0px) + var(--top));
  font-size: 16px;
  line-height: 1;
  background: #78a28d;
  color: #fff;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 23px;
  padding: 0 16px;
  gap: 8px;
  z-index: 20;

  @media (--max-3xl) {
    left: calc((var(--container-padding) / 2));
  }

  @media (--max-xl) {
    --top: 12px;
  }

  @media (--max-lg) {
    --top: 8px;
    height: 36px;
    font-size: 14px;
    border-radius: 18px;
  }

  @media (--max-md) {
    left: 50%;
    transform: translateX(-50%);
  }
}

.header-instruction:hover {
  background: #349966;
}

.header-instruction__icon {
  display: flex;
  font-size: 20px;
  margin-left: -4px;
}

.header-instruction__text {
}

.header-call {
  --size: 54px;

  position: absolute;
  right: calc((100vw - 1920px) / 2 + (var(--container-padding) / 2));
  top: 16px;
  top: 50%;
  transform: translateY(-50%);
  background-image: linear-gradient(to bottom, rgb(0, 63, 19) 0%, rgb(86, 165, 52) 100%);
  border-radius: calc(var(--size) / 2);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0 32px;
  font-size: 24px;
  line-height: 1;
  color: #fff;
  flex-shrink: 0;
  transition: 0.3s ease;
  transition-property: box-shadow;
  order: 60;

  @media (--max-3xl) {
    padding: 0;
    width: var(--size);
    right: calc(
      ((100vw - var(--container-width)) / 2) - (var(--container-padding) / 2) - (var(--size) / 2)
    );
  }

  @media (--max-2xl) {
    --size: 48px;
    right: calc(
      ((100vw - var(--container-width)) / 2) - (var(--container-padding) / 2) +
        (var(--add-padding) / 2) - (var(--size) / 2)
    );
  }

  @media (--max-xl) {
    --size: 48px;
    right: calc(((100vw - var(--container-width)) / 2) - var(--container-padding) + 2px);
  }

  @media (--max-lg) {
    --size: 48px;
    position: relative;
    right: 0;
    top: 0;
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    transform: none;
  }
}

.header-call:hover {
  background-image: linear-gradient(to bottom, rgb(0, 63, 19) 0%, rgb(80, 153, 48) 100%);
  box-shadow: -2.079px 9.781px 16.2px 1.8px rgba(108, 150, 136, 0.47);
}

.header-call__icon {
  font-size: calc(var(--size) * ((1 / 3) * 2));
  display: flex;
  margin-left: -22px;

  @media (--max-3xl) {
    margin-left: 0;
  }
}

.header-call__text {
  @media (--max-3xl) {
    display: none;
  }
}

.header-anchor {
  position: absolute;
  top: 100px;
  height: 0;
  width: 100%;
}
