:root {
  --container-width: 1324px;
  --container-padding: 64px;
  --add-padding: 96px;
  --header-height: 96px;

  @media (--max-2xl) {
    --container-width: 1216px;
    --container-padding: 32px;
    --add-padding: 48px;
  }

  @media (--max-xl) {
    --container-width: 992px;
    --container-padding: 16px;
    --add-padding: 24px;
    --header-height: 80px;
  }

  @media (--max-lg) {
    --container-width: 736px;
    --container-padding: 16px;
    --header-height: 64px;
    --add-padding: 16px;
  }

  @media (--max-md) {
    --container-width: 100%;
    --container-padding: 16px;
    --add-padding: 12px;
    --header-height: 56px;
  }
}

@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.688;
  font-size: 16px;
  background: #f0f0f0;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding) * 2);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}

.container {
  /*position: relative;*/
}

/*.container::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--container-padding);
  border-right: 1px solid red;
  background: bisque;
  opacity: 0.5;
}

.container::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: var(--container-padding);
  border-left: 1px solid red;
  background: bisque;
  opacity: 0.5;
}*/

.button-primary {
  background-image: linear-gradient(90deg, rgb(86, 165, 52) 0%, rgb(0, 63, 19) 100%);
  height: 48px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  transition: 0.3s ease;
  transition-property: box-shadow;
}

.button-primary:hover {
  box-shadow: -2.079px 9.781px 16.2px 1.8px rgba(108, 150, 136, 0.47);
}

.button-primary__arrow {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 2px solid currentColor;
  position: relative;
  margin-left: 8px;
  margin-right: -6px;
}

.button-primary__arrow::before {
  content: '';
  height: 2px;
  width: 10px;
  background: currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-primary__arrow::after {
  content: '';
  height: 0;
  width: 0;
  border-left: 6px solid currentColor;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 4px;
}

.bgs {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.bgs__wave-logo-b {
  position: relative;
  z-index: 20;
}

.bgs__wave-logo-b::before {
  content: '';
  position: absolute;
  z-index: -1;
  background-image: url('../images/usage-logo.png');
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: 50% 50%;
  height: 329px;
  width: 602px;
  margin-left: -301px;
  top: 100%;
  left: 50%;
  transform: translate(-534px, -284px);

  @media (--max-lg) {
    display: none;
  }
}

.bgs__wave-logo-b::after {
  content: '';
  position: absolute;
  z-index: -1;
  background-image: url('../images/usage-wave.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
  height: 652px;
  width: 100%;
  top: 100%;
  left: 0;
  transform: translateY(-292px);

  @media (--max-lg) {
    height: calc(652px / 2);
    transform: translateY(calc(-292px / 2));
  }
  @media (--max-md) {
    height: calc(652px / 3);
    transform: translateY(calc(-292px / 3));
  }
}

.bgs__white {
  position: relative;
  z-index: 20;
  background: #fff;
}

.bgs__third {
  position: relative;
  z-index: 20;
  border-top: 2px solid #f0f0f0;
}

.bgs__third::before {
  content: '';
  position: absolute;
  z-index: -1;
  background: #fff;
  width: 100%;
  top: 0;
  bottom: calc(349px + 16px);
  left: 0;

  @media (--max-lg) {
    bottom: calc(calc(349px / 2) + 16px);
  }

  @media (--max-md) {
    bottom: calc(calc(349px / 3) + 16px);
  }
}

.bgs__third::after {
  content: '';
  position: absolute;
  z-index: -1;
  background-image: url('../images/bgs-third-wave.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
  height: 349px;
  width: 100%;
  bottom: 16px;
  left: 0;

  @media (--max-lg) {
    height: calc(349px / 2);
  }

  @media (--max-md) {
    height: calc(349px / 3);
  }
}

.delivery {
  padding-top: 116px;
  padding-bottom: 64px;
  position: relative;
  overflow: hidden;
  z-index: 10;

  @media (--max-md) {
    padding-top: 96px;
  }
}

.delivery--without-title {
  padding-top: 64px;
}

.delivery::before {
  content: '';
  position: absolute;
  z-index: -1;
  background-image: url('../images/usage-wave.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
  height: 652px;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(480px);

  @media (--max-lg) {
    height: 326px;
    transform: translateY(480px);
  }
}

.delivery::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: calc(480px + 652px);
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;

  @media (--max-lg) {
    top: calc(480px + 326px);
  }
}

.delivery .page-anchor {
  position: absolute;
  left: 50%;
  top: 70px;

  @media (--max-md) {
    top: 68px;
  }
}

.delivery__title {
  font-size: 36px;
  text-align: center;
  color: #272935;
  line-height: 1.2;
  margin-bottom: 32px;
  text-wrap: balance;

  @media (--max-md) {
    font-size: 32px;
  }
}

.delivery__layout {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 86px;
  margin-left: calc(var(--add-padding) * 2);
  margin-right: calc(var(--add-padding) * 2);

  @media (--max-lg) {
    flex-direction: column;
  }
  @media (--max-md) {
    margin-top: 64px;
    margin-left: 0;
    margin-right: 0;
  }
}

.delivery__layout-left {
  flex-grow: 1;
}

.delivery__layout-right {
}

.delivery__map {
  width: 927px;
  height: 508px;
  margin-left: auto;
  margin-right: auto;
  background: url('../../assets/map.svg') no-repeat 50% 50%;
  background-size: cover;
  position: relative;

  @media (--max-lg) {
    zoom: calc(1 / 3 * 2);
  }

  @media (--max-md) {
    zoom: calc(1 / 3 * 1);
  }
}

.delivery__marker {
  position: absolute;
  background: url('../../assets/marker.svg') no-repeat 50% 50%;
  background-size: cover;
  width: 20px;
  height: 20px;
}

.delivery__marker--1 {
  left: 87px;
  top: 242px;
}

.delivery__marker--2 {
  left: 108px;
  top: 254px;
}

.delivery__content {
}

.delivery__content h3 {
  font-size: 18px;
  color: #272935;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.delivery__content ul {
  font-size: 18px;
  color: #272935;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.delivery__content ul li {
  padding-left: 40px;
  position: relative;
}

.delivery__content ul li + li {
  margin-top: 14px;
}

.delivery__content ul li::before {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23px' height='18px'%3E%3Cpath fill-rule='evenodd' fill='rgb(88, 177, 46)' d='M22.520,2.994 L8.925,17.228 C8.925,17.229 8.924,17.229 8.924,17.230 C8.860,17.321 8.819,17.424 8.736,17.505 C8.046,18.180 6.951,18.155 6.291,17.449 L0.480,11.392 C-0.181,10.687 -0.157,9.567 0.534,8.892 C1.224,8.218 2.319,8.242 2.979,8.948 L7.499,13.659 L20.021,0.549 C20.681,-0.157 21.776,-0.182 22.466,0.493 C23.156,1.169 23.180,2.288 22.520,2.994 Z'/%3E%3C/svg%3E");
  width: 23px;
  height: 18px;
  position: absolute;
  left: 0;
  top: calc(1.2em / 2);
  transform: translateY(-50%);
}

.delivery__button {
}

.input-field {
}

.input-field__label {
  display: block;
  font-size: 14px;
  line-height: 1.2;
  color: #272935;
  margin-bottom: 2px;
}

.input-field__input {
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 13px 0px rgba(133, 133, 189, 0.25);
  height: 44px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  line-height: 1.2;
  color: #272935;
  width: 100%;
  display: block;
}

.input-field__textarea {
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 13px 0px rgba(133, 133, 189, 0.17);
  padding: 16px;
  font-size: 14px;
  line-height: 1.2;
  color: #272935;
  width: 100%;
  display: block;
}

.rules-field {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  position: relative;
}

.rules-field__input {
  position: absolute;
  opacity: 0;
}

.rules-field__checkmark {
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  box-shadow: 0 3px 13px #8585bd40;
}

.rules-field__checkmark::before {
  content: '';
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31px' height='29px'%3E%3Cdefs%3E%3Cfilter filterUnits='userSpaceOnUse' id='Filter_0' x='0px' y='0px' width='31px' height='29px' %3E%3CfeOffset in='SourceAlpha' dx='0' dy='6' /%3E%3CfeGaussianBlur result='blurOut' stdDeviation='3' /%3E%3CfeFlood flood-color='rgb(13, 11, 8)' result='floodOut' /%3E%3CfeComposite operator='atop' in='floodOut' in2='blurOut' /%3E%3CfeComponentTransfer%3E%3CfeFuncA type='linear' slope='0.27'/%3E%3C/feComponentTransfer%3E%3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='SourceGraphic'/%3E%3C/feMerge%3E%3C/filter%3E%3ClinearGradient id='PSgrad_0' x1='45.399%25' x2='0%25' y1='89.101%25' y2='0%25'%3E%3Cstop offset='0%25' stop-color='rgb(86,201,134)' stop-opacity='1' /%3E%3Cstop offset='100%25' stop-color='rgb(58,180,185)' stop-opacity='1' /%3E%3C/linearGradient%3E%3C/defs%3E%3Cg filter='url(%23Filter_0)'%3E%3Cpath fill-rule='evenodd' fill='rgb(10, 15, 55)' d='M20.997,4.998 L20.997,5.998 L19.997,5.998 L19.997,6.997 L18.997,6.997 L18.997,7.998 L17.997,7.998 L17.997,8.997 L16.997,8.997 L16.997,9.997 L15.997,9.997 L15.997,10.998 L14.998,10.998 L14.998,11.998 L13.998,11.998 L13.998,12.997 L12.998,12.997 L12.998,13.998 L11.998,13.998 L11.998,12.997 L10.998,12.997 L10.998,11.998 L9.998,11.998 L9.998,10.998 L8.998,10.998 L8.998,9.997 L7.998,9.997 L7.998,8.997 L8.998,8.997 L8.998,7.998 L9.998,7.998 L9.998,6.997 L10.998,6.997 L10.998,7.998 L11.998,7.998 L11.998,8.997 L12.998,8.997 L12.998,7.998 L13.998,7.998 L13.998,6.997 L14.998,6.997 L14.998,5.998 L15.997,5.998 L15.997,4.998 L16.997,4.998 L16.997,3.997 L17.997,3.997 L17.997,2.998 L18.997,2.998 L18.997,1.997 L19.997,1.997 L19.997,2.998 L20.997,2.998 L20.997,3.997 L21.997,3.997 L21.997,4.998 L20.997,4.998 Z'/%3E%3C/g%3E%3Cpath fill='url(%23PSgrad_0)' d='M20.997,4.998 L20.997,5.998 L19.997,5.998 L19.997,6.997 L18.997,6.997 L18.997,7.998 L17.997,7.998 L17.997,8.997 L16.997,8.997 L16.997,9.997 L15.997,9.997 L15.997,10.998 L14.998,10.998 L14.998,11.998 L13.998,11.998 L13.998,12.997 L12.998,12.997 L12.998,13.998 L11.998,13.998 L11.998,12.997 L10.998,12.997 L10.998,11.998 L9.998,11.998 L9.998,10.998 L8.998,10.998 L8.998,9.997 L7.998,9.997 L7.998,8.997 L8.998,8.997 L8.998,7.998 L9.998,7.998 L9.998,6.997 L10.998,6.997 L10.998,7.998 L11.998,7.998 L11.998,8.997 L12.998,8.997 L12.998,7.998 L13.998,7.998 L13.998,6.997 L14.998,6.997 L14.998,5.998 L15.997,5.998 L15.997,4.998 L16.997,4.998 L16.997,3.997 L17.997,3.997 L17.997,2.998 L18.997,2.998 L18.997,1.997 L19.997,1.997 L19.997,2.998 L20.997,2.998 L20.997,3.997 L21.997,3.997 L21.997,4.998 L20.997,4.998 Z'/%3E%3C/svg%3E")
    no-repeat 50% 50%;
  width: 31px;
  height: 29px;
  background-size: cover;
  position: absolute;
  left: 2px;
  top: 7px;
  display: none;
}

.rules-field__input:checked + .rules-field__checkmark::before {
  display: block;
}

.rules-field__input:focus + .rules-field__checkmark {
  outline: 1px solid rgb(86, 165, 52);
}

.rules-field__text {
  align-items: center;
  color: #272935;
  font-size: 12px;
  line-height: 1.2;
}

.rules-field__text a {
  text-decoration: underline;
}

.feedback-section {
  background: #fff;
  position: relative;
  z-index: 20;
}

.feedback {
  position: relative;
  border-radius: 60px;
  padding-top: 70px;
  padding-bottom: 40px;
  padding-left: var(--add-padding);
  padding-right: var(--add-padding);
  margin-left: var(--add-padding);
  margin-right: var(--add-padding);
  display: flex;
  background: rgb(240, 240, 240) url('../images/form-patterns.png') no-repeat 220px -64px;

  @media (--max-xl) {
    padding-left: calc(var(--add-padding) * 2);
    padding-right: calc(var(--add-padding) * 2);
    margin-left: 0;
    margin-right: 0;
  }
  @media (--max-lg) {
    flex-direction: column;
    padding-top: 40px;
    border-radius: 40px;
  }
  @media (--max-md) {
    border-radius: 24px;
    margin-left: calc(var(--container-padding) * -1);
    margin-right: calc(var(--container-padding) * -1);
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }
}

.feedback__content {
  background: url('../images/leaf.png') no-repeat 24px calc(100% - 24px);
  width: 40%;
  flex-shrink: 0;

  @media (--max-lg) {
    width: 100%;
    background: none;
  }
}

.feedback__title {
  font-size: 30px;
  line-height: 1.2;
  color: #272935;
  font-weight: bold;

  @media (--max-md) {
    font-size: 24px;
  }
}

.feedback__desc {
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.2;
  color: #272935;

  @media (--max-lg) {
    margin-top: 16px;
  }

  @media (--max-md) {
    font-size: 14px;
  }
}

.feedback__form {
  width: 60%;
  flex-shrink: 0;
  padding-top: 10px;
  position: relative;

  @media (--max-lg) {
    width: 100%;
    padding-top: 0;
    margin-top: 40px;
  }

  @media (--max-md) {
    margin-top: 32px;
  }
}

.feedback__fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 18px;
}

.feedback__field--wide {
  grid-column: span 2;
}

.feedback__submit {
  display: flex;
  justify-content: center;
  margin-top: 36px;

  @media (--max-md) {
    margin-top: 24px;
  }
}

.feedback__submit .button-primary {
  height: 64px;
  border-radius: 32px;
}

.feedback__rules {
  margin-top: 38px;

  @media (--max-md) {
    margin-top: 24px;
  }
}

.feedback-form-success {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(240, 240, 240, 0.8);
  backdrop-filter: blur(12px);
}

[data-feedback-form-status='success'] .feedback-form-success {
  display: flex;
}

.feedback-form-success__title {
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
}

.feedback-form-success__desc {
  font-size: 16px;
  text-align: center;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 32px;
}

.feedback-form-success__close {
  font-size: 16px;
  color: #303437;
  line-height: 1.2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  font-weight: 500;
  white-space: nowrap;
  border: 2px solid #303437;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition-duration: 0.15s;
}

.feedback-form-success__close:hover {
  color: #fff;
  transition-duration: 0.3s;
  border-color: #303437;
  background-color: #303437;
}

.legal-section {
  padding-top: 72px;
  padding-bottom: 80px;
  background: #fff;
  overflow: hidden;

  @media (--max-md) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.legal {
  margin-left: calc(var(--add-padding) * 2);
  margin-right: calc(var(--add-padding) * 2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;

  @media (--max-lg) {
    grid-gap: 40px;
    grid-template-columns: 1fr;
  }
  @media (--max-md) {
    margin-left: 0;
    margin-right: 0;
  }
}

.legal__cell {
  min-width: 0;
}

.legal__content {
  font-size: 18px;
  line-height: 1.2;
  color: #272935;

  @media (--max-md) {
    font-size: 16px;
  }
}

.legal__contacts {
  font-size: 18px;
  line-height: 1.2;
  color: #272935;
  border-bottom: 2px solid #78a28d;
  width: max-content;
  max-width: 100%;
  margin-top: 20px;
  padding-bottom: 8px;

  @media (--max-md) {
    font-size: 16px;
  }
}

.footer-secondary {
  background: #dcdcdc;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-secondary__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;

  @media (--max-md) {
    flex-direction: column;
    gap: 24px;
  }
}

.footer-secondary__counters {
  display: flex;
}

.footer-secondary__nav {
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
  justify-content: center;

  @media (--max-lg) {
    column-gap: 24px;
    row-gap: 6px;
  }
}

.footer-secondary__nav li {
  display: flex;
}

.footer-secondary__nav li a {
  font-size: 12px;
  color: rgb(39, 41, 53);
  text-decoration: underline;
  line-height: 1.5;
  display: inline-block;
}

.footer-secondary__nav li a:hover {
  color: #59b02d;
}

.footer-secondary__creator {
  display: flex;
  opacity: 0.8;
}

.footer-secondary__creator:hover {
  opacity: 1;
}

.footer-primary {
  padding-top: 30px;
  padding-bottom: 40px;
}

.footer-primary__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (--max-lg) {
    flex-direction: column;
  }
}

.footer-primary__logo {
  display: flex;
  width: 80px;
}

.footer-primary__copyright {
  font-size: 14px;
  color: rgb(39, 41, 53);
  line-height: 1.2;
}

.footer-primary__menu {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: flex-end;

  @media (--max-xl) {
    column-gap: 16px;
    row-gap: 8px;
  }

  @media (--max-lg) {
    width: 100%;
    justify-content: center;
    margin-top: 24px;
  }

  @media (--max-md) {
  }
}

.footer-primary__menu li {
  display: flex;
}

.footer-primary__menu li a {
  font-size: 16px;
  line-height: 1.25;
  color: #272935;
  text-decoration: underline;

  @media (--max-xl) {
    font-size: 14px;
  }
}

.footer-primary__menu li a:hover {
  color: #59b02d;
}

.footer-primary__communication {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;

  @media (--max-md) {
    flex-direction: column;
    margin-top: 24px;
    gap: 24px;
    align-items: center;
  }
}

.footer-social {
  display: flex;
  gap: 16px;
  align-items: center;
}

.footer-social__title {
  font-size: 14px;
  color: rgb(39, 41, 53);
  font-weight: bold;
  line-height: 1.2;
  white-space: nowrap;
}

.footer-social__list {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background: #858582;
  border-radius: 8px;
  color: #e8e8e8;
  font-size: 20px;
}

.footer-social__item:hover {
  background: rgb(39, 41, 53);
  color: #fff;
}

.footer-primary__contacts {
  display: flex;
  column-gap: 48px;
  row-gap: 24px;
  align-items: center;
  flex-wrap: wrap;

  @media (--max-lg) {
    column-gap: 36px;
    row-gap: 16px;
  }
  @media (--max-md) {
    justify-content: center;
  }
}

.footer-phone {
  display: flex;
  gap: 12px;
  align-items: center;
}

.footer-phone__icon {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(90deg, rgb(120, 162, 141) 0%, rgb(84, 114, 99) 100%);
}

.footer-phone__value {
  font-size: 18px;
  font-weight: bold;
  color: #272935;
  line-height: 1.5;
  white-space: nowrap;
}

.footer-email {
  display: flex;
  gap: 12px;
  align-items: center;
}

.footer-email__icon {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(90deg, rgb(120, 162, 141) 0%, rgb(84, 114, 99) 100%);
}

.footer-email__value {
  font-size: 18px;
  color: #272935;
  line-height: 1.5;
  white-space: nowrap;
}

.footer-address {
  display: flex;
  gap: 12px;
  align-items: center;
}

.footer-address__icon {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(90deg, rgb(120, 162, 141) 0%, rgb(84, 114, 99) 100%);
}

.footer-address__value {
  font-size: 12px;
  color: #272935;
  line-height: 1.5;
  text-wrap: balance;
}

.modal-form {
}

.modal-form__errors {
  background: #fff1f2;
  color: #e11d48;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  border: 1px solid #fecdd3;
  margin-top: 20px;
}

.modal-form__errors:empty {
  display: none;
}

.modal-form__field + .modal-form__field {
  margin-top: 24px;
}

.modal-form__rules {
  margin-top: 24px;
}

.modal-form__submit {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.modal-form__submit .button-primary {
  height: 64px;
  border-radius: 32px;
}

.modal-form-success {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
}

[data-feedback-form-status='success'] .modal-form-success {
  display: flex;
}

.modal-form-success__title {
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
}

.modal-form-success__desc {
  font-size: 16px;
  text-align: center;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 32px;
}

.modal-form-success__close {
  font-size: 16px;
  color: #303437;
  line-height: 1.2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  font-weight: 500;
  white-space: nowrap;
  border: 2px solid #303437;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition-duration: 0.15s;
}

.modal-form-success__close:hover {
  color: #fff;
  transition-duration: 0.3s;
  border-color: #303437;
  background-color: #303437;
}

.modal {
  display: none;

  &.is-open {
    display: block;
  }

  &[aria-hidden='false'] .modal__overlay {
    animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  &[aria-hidden='false'] .modal__container {
    animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  &[aria-hidden='true'] .modal__overlay {
    animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  &[aria-hidden='true'] .modal__container {
    animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
  }
}

.modal__title {
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 32px;
}

.modal__close {
  background: transparent;
  border: 0;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  color: #32333d;
  line-height: 1;
  font-size: 20px;
  background: transparent;
  z-index: 50;
  cursor: pointer;
  right: 6px;
  top: 6px;

  &::before {
    content: '\2715';
  }

  &:hover {
    background: #003f13;
    color: #fff;
  }
}

.modal__close--outside {
  right: -16px;
  top: -16px;
}

.modal__overlay {
  will-change: transform;
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(240, 240, 240, 0.8);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(12px);
}

.modal__container {
  width: 100%;
  max-width: var(--container-width);
  padding: var(--container-padding);
  margin-right: auto;
  margin-left: auto;
  position: relative;
  min-width: 0;
  display: flex;
  justify-content: center;
}

.modal__dialog {
  position: relative;
  padding: 32px;
  background-color: #fff;
  box-shadow: 0 3px 13px #8585bd2b;
  width: 480px;
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(1);
  }
}

@keyframes mmslideOut {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.05);
  }
}

.sticky-nav {
  position: fixed;
  right: calc((100vw - 1920px) / 2 + (var(--container-padding) / 2));
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  z-index: 100;
  pointer-events: none;

  @media (--max-3xl) {
    right: calc((100vw - 1536px) / 2 + (var(--container-padding) / 2));
  }

  @media (--max-2xl) {
    display: none;
  }
}

.sticky-nav__item {
  pointer-events: all;
  min-width: 56px;
  position: relative;
  height: 32px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  color: #6cff31;
}

.sticky-nav__item::after {
  content: '';
  background: #393c4d;
  width: 22px;
  height: 2px;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: 0.5s ease;
}

.sticky-nav__item span {
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
  transform: translateX(8px);
}

.sticky-nav__item.active::after,
.sticky-nav__item:hover::after {
  width: 100%;
  background: #6cff31;
}

.sticky-nav__item.active span,
.sticky-nav__item:hover span {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.page-section {
  padding-top: 64px;
  padding-bottom: 64px;
  flex-grow: 1;
}

.page-section__title {
  font-size: 36px;
  text-align: center;
  color: #272935;
  line-height: 1.2;
  margin-bottom: 64px;
  text-wrap: balance;

  @media (--max-md) {
    font-size: 32px;
    margin-bottom: 32px;
  }
}

.page-section__content {
  font-size: 18px;
  line-height: 1.25;
  color: #1f212a;
  margin-left: calc(var(--add-padding) * 2);
  margin-right: calc(var(--add-padding) * 2);

  @media (--max-md) {
    margin-left: 0;
    margin-right: 0;
  }
}
