:root {
  --container-width: 1324px;
  --container-padding: 64px;
  --add-padding: 96px;
  --header-height: 96px;

  @media (--max-2xl) {
    --container-width: 1216px;
    --container-padding: 32px;
    --add-padding: 48px;
  }

  @media (--max-xl) {
    --container-width: 992px;
    --container-padding: 16px;
  }

  @media (--max-lg) {
    --container-width: 736px;
    --container-padding: 16px;
  }

  @media (--max-md) {
    --container-width: 100%;
    --container-padding: 16px;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.688;
  font-size: 16px;
  background: #f0f0f0;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding) * 2);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}

.container {
  position: relative;
}

.container::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--container-padding);
  border-right: 1px solid red;
  background: bisque;
  opacity: 0.5;
}

.container::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: var(--container-padding);
  border-left: 1px solid red;
  background: bisque;
  opacity: 0.5;
}
