.gumat {
  background: #f0f0f0 url('../images/gumat-bg.png') no-repeat 50% 50%;
  overflow: hidden;
  background-size: cover;

  @media (--min-3xl) {
    background-size: 100% 100%;
  }
}

.gumat__wrap {
  height: 800px;
  position: relative;

  @media (--max-xl) {
    zoom: 0.85;
  }
  @media (--max-lg) {
    zoom: calc(1 / 3 * 2);
  }
}

.gumat__inner {
  height: 800px;
  width: 1132px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.gumat__image-1 {
  background: url('../images/gumat-1.png') no-repeat;
  width: 297px;
  height: 102px;
  background-size: cover;
  position: absolute;
  left: 137px;
  top: 97px;
}

.gumat__image-2 {
  background: url('../images/gumat-2.png') no-repeat;
  width: 281px;
  height: 280px;
  background-size: cover;
  position: absolute;
  left: 512px;
  top: 66px;
}

.gumat__image-3 {
  background: url('../images/gumat-3.png') no-repeat;
  width: 539px;
  height: 527px;
  background-size: cover;
  position: absolute;
  right: -123px;
  top: 10px;
}

.gumat__certificate {
  font-size: 12px;
  color: rgb(11, 75, 23);
  line-height: 1.25;
  position: absolute;
  left: 70px;
  top: 212px;
}

.gumat__slogan {
  font-size: 12px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.167;
  text-align: center;
  top: 146px;
  right: -125px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 246, 246);
  border-radius: 20px;
  background-image: -moz-radial-gradient(50% 50%, circle closest-side, #e4d67d 0%, #ac844b 100%);
  background-image: -webkit-radial-gradient(50% 50%, circle closest-side, #e4d67d 0%, #ac844b 100%);
  background-image: -ms-radial-gradient(50% 50%, circle closest-side, #e4d67d 0%, #ac844b 100%);
  background-image: radial-gradient(50% 50%, circle closest-side, #e4d67d 0%, #ac844b 100%);
  background-position: -70px -40px;
  background-repeat: no-repeat;
  background-color: #ac844b;
  box-shadow: 3.993px 3.009px 7px 0px rgba(59, 60, 63, 0.35);
  width: 231px;
  min-height: 82px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;

  @media (--max-2xl) {
    right: -64px;
  }

  @media (--max-xl) {
    right: -32px;
    width: 200px;
  }

  @media (--max-lg) {
    right: -4px;
    width: 160px;
  }
}

.gumat__description_1,
.gumat__description_2,
.gumat__description_3,
.gumat__description_4,
.gumat__description_5 {
  font-size: 18px;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1;
  text-align: center;
  position: absolute;
  border: 2px solid #fff;
  padding: 21px;
}

.gumat__description_1 {
  right: 596px;
  bottom: 434px;
  width: 404px;
  border-radius: 32px 62px 0 32px;
}

.gumat__description_1-misc-1 {
  position: absolute;
  right: -9px;
  bottom: -11px;
  width: 21px;
  height: 21px;
  background: #fff;
  border-radius: 50%;
}

.gumat__description_1-misc-2 {
  position: absolute;
  right: -230px;
  bottom: -1px;
  width: 222px;
  height: 1px;
  background: #fff;
}

.gumat__description_1-misc-3 {
  position: absolute;
  right: -234px;
  bottom: -3px;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
}

.gumat__description_2 {
  right: 518px;
  top: 384px;
  width: 294px;
  border-radius: 32px 0 62px 32px;
}

.gumat__description_2-misc-1 {
  position: absolute;
  right: -8px;
  top: -12px;
  width: 21px;
  height: 21px;
  background: #fff;
  border-radius: 50%;
}

.gumat__description_2-misc-2 {
  position: absolute;
  right: -151px;
  top: -2px;
  width: 144px;
  height: 1px;
  background: #fff;
}

.gumat__description_2-misc-3 {
  position: absolute;
  right: -156px;
  top: -4px;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
}

.gumat__description_3 {
  right: 829px;
  bottom: 287px;
  width: 304px;
  border-radius: 32px 62px 0 32px;
}

.gumat__description_3-misc-1 {
  position: absolute;
  right: -11px;
  bottom: 7px;
  width: 21px;
  height: 21px;
  background: #fff;
  border-radius: 50%;
}

.gumat__description_3-misc-2 {
  position: absolute;
  right: -466px;
  bottom: 2px;
  width: 464px;
  height: 14px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid white;
}

.gumat__description_3-misc-3 {
  position: absolute;
  right: -468px;
  bottom: 15px;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
}

.gumat__description_4 {
  right: 518px;
  top: 529px;
  width: 574px;
  border-radius: 32px 0 62px 32px;
}

.gumat__description_4-misc-1 {
  position: absolute;
  right: -8px;
  top: -12px;
  width: 21px;
  height: 21px;
  background: #fff;
  border-radius: 50%;
}

.gumat__description_4-misc-2 {
  position: absolute;
  right: -167px;
  top: -40px;
  width: 160px;
  height: 39px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid white;
}

.gumat__description_4-misc-3 {
  position: absolute;
  right: -169px;
  top: -45px;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
}

.gumat__description_5 {
  right: 2px;
  top: 562px;
  width: 424px;
  border-radius: 32px;
}

.gumat__description_5-misc-1 {
  position: absolute;
  right: 108px;
  top: -14px;
  width: 21px;
  height: 21px;
  background: #fff;
  border-radius: 50%;
}

.gumat__description_5-misc-2 {
  position: absolute;
  right: 100px;
  top: -77px;
  width: 238px;
  height: 1px;
  background: #fff;
  transform: rotate(19deg);
  transform-origin: 0 0;
}

.gumat__description_5-misc-3 {
  position: absolute;
  right: 337px;
  top: -80px;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
}

.page-anchor {
  font-size: 16px;
  color: rgb(39, 41, 53);
  line-height: 1;
  display: flex;
  align-items: flex-end;
  padding: 0 8px;
  position: relative;
}

.page-anchor::before {
  content: '';
  width: 2px;
  height: 64px;
  background: #6cb360;
  position: absolute;
  left: 0;
  bottom: 0;
}

.about .page-anchor {
  position: absolute;
  left: 50%;
  top: 40px;
}

.about {
  padding-top: 24px;
  padding-bottom: 120px;
  position: relative;

  @media (--max-lg) {
    padding-top: 86px;
    padding-bottom: 96px;
  }
}

.about__title {
  margin-left: 50%;
  padding-left: 64px;
  font-size: 36px;
  line-height: 42px;
  color: #272935;
  margin-bottom: 32px;

  @media (--max-lg) {
    margin-left: 0;
    padding-left: 0;
    text-align: center;
  }
}

.about__image {
  padding-left: calc(var(--add-padding) * 2);
  /*padding-right: 64px;*/

  @media (--max-lg) {
    padding-right: var(--add-padding);
  }
}

.about__image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.about__image-wrapper img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.about__primary-content {
  font-size: 16px;
  line-height: 1.2;
  color: #262827;
  padding-left: 64px;
  padding-right: var(--add-padding);

  @media (--max-lg) {
    padding-left: 0;
  }
}

.about__primary-content p {
  margin: 0;
}

.about__primary-content * + p {
  margin-top: 1.2em;
}

.about__secondary-content {
  font-size: 16px;
  line-height: 1.2;
  color: #262827;
  padding-left: calc(var(--add-padding) * 2);
  padding-right: var(--add-padding);
  margin-top: 56px;
}

.about__secondary-content p {
  margin: 0;
}

.about__secondary-content * + p {
  margin-top: 1.2em;
}

.unique {
  padding-top: 132px;
  padding-bottom: 80px;
  background: #006633;
  overflow: hidden;
  position: relative;
  z-index: 1;

  @media (--max-2xl) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media (--max-lg) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.unique::before {
  content: '';
  position: absolute;
  left: calc(var(--container-padding) * 0.5 - 1px);
  right: calc(var(--container-padding) * 0.5 - 1px);
  top: calc(var(--container-padding) * 0.5 - 1px);
  bottom: calc(var(--container-padding) * 0.5 - 1px);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-radius: calc(var(--container-padding) * 1.25);
  z-index: -10;

  @media (--max-2xl) {
    display: none;
  }
}

.unique::after {
  content: '';
  position: absolute;
  left: calc(50% + 460px);
  bottom: -132px;
  width: 489px;
  height: 446px;
  z-index: -20;
  background: url('../images/unique.png') no-repeat 50% 50%;
  background-size: cover;

  @media (--max-2xl) {
    zoom: 0.8;
  }
}

.unique__content {
  font-size: 36px;
  color: rgb(255, 255, 255);
  font-style: italic;
  line-height: 1.2;
  padding-right: calc(var(--add-padding) * 2);
  filter: drop-shadow(0 0 0.5rem #006633);

  @media (--max-lg) {
    font-size: 24px;
  }
}

.unique__content p {
  margin: 0;
}

.unique__content * + p {
  margin-top: 1.2em;
}

.usage {
  padding-top: 96px;
  padding-bottom: 96px;

  @media (--max-lg) {
    padding-top: 160px;
  }
}

.usage .page-anchor {
  position: absolute;
  left: 50%;
  top: 116px;
}

.usage__title {
  margin-left: 50%;
  padding-left: 64px;
  font-size: 36px;
  line-height: 42px;
  color: #272935;
  margin-bottom: 126px;

  @media (--max-lg) {
    margin-left: 0;
    padding-left: 0;
    text-align: center;
    margin-bottom: 96px;
  }
}

.usage__content {
  margin-left: calc(var(--add-padding) * 2);
  margin-right: calc(var(--add-padding) * 2);
  color: #272935;
  font-size: 16px;
  line-height: 1.25;
}

.usage__content p {
  margin: 0;
}

.usage__content * + p {
  margin-top: 1em;
}

.usage__lists {
  margin-left: calc(var(--add-padding) * 2);
  position: relative;
  margin-bottom: 68px;
  margin-top: 40px;
  display: grid;
  gap: 18px;
  grid-template-columns: 1fr 1fr 1fr;

  @media (--max-2xl) {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  @media (--max-lg) {
    margin-left: 0;
    *:nth-child(1) {
      border-radius: 60px 0 60px 0;
    }
    *:nth-child(2) {
      border-radius: 0 60px 0 60px;
    }
    *:nth-child(3) {
      border-radius: 0 60px 0 60px;
    }
    *:nth-child(4) {
      border-radius: 60px 0 60px 0;
    }
    *:nth-child(1) {
      border-radius: 0 60px 0 60px;
    }
    *:nth-child(2) {
      border-radius: 60px 0 60px 0;
    }
    *:nth-child(3) {
      border-radius: 60px 0 60px 0;
    }
    *:nth-child(4) {
      border-radius: 0 60px 0 60px;
    }
  }
}

.usage__specifications {
  position: absolute;
  right: calc(100% + var(--add-padding));
  border-style: solid;
  border-width: 6px;
  border-color: rgb(185, 207, 196);
  background-color: rgba(185, 207, 196, 0.2);
  border-radius: 60px 0 60px 0;
  width: 260px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  min-height: 100%;

  @media (--max-2xl) {
    right: 0;
    position: relative;
    top: 0;
    width: auto;
  }
}

.usage-specification {
}

.usage-specification__image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
  height: 64px;
}

.usage-specification__name {
  font-size: 12px;
  text-align: center;
  line-height: 1.25;
  color: #272935;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.usage-specification__content {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 1.25;
  color: #272935;
}

.usage-option {
  border-style: solid;
  border-width: 6px;
  border-color: rgb(185, 207, 196);
  background-color: rgba(185, 207, 196, 0);
  border-radius: 60px 0 80px 0;
  padding: 10px 16px 16px;
}

.usage-option__image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  height: 200px;
}

.usage-option__name {
  font-size: 14px;
  text-align: center;
  line-height: 1.25;
  color: #272935;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.usage-option__content {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 1.25;
  color: #272935;
  margin-top: 3px;
}

.usage__warning {
  background-color: rgb(120, 158, 139);
  padding-left: 156px;
  padding-right: 32px;
  height: 140px;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: calc(var(--add-padding) * 2);
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 70px;
  line-height: 1.25;

  @media (--max-lg) {
    margin-left: 0;
    font-size: 18px;
  }
}

.usage__warning::before {
  content: '';
  position: absolute;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  left: 6px;
  top: 6px;
  background: #00622a url('../images/usage-warning.png') no-repeat 50% 50%;
}

.trials {
  padding-top: 32px;
  padding-bottom: 80px;

  @media (--max-lg) {
    padding-top: 100px;
    padding-bottom: 64px;
  }
}

.trials .page-anchor {
  position: absolute;
  left: 50%;
  top: 54px;
}

.trials__title {
  margin-left: 50%;
  padding-left: 64px;
  font-size: 36px;
  line-height: 42px;
  color: #272935;
  margin-bottom: 56px;

  @media (--max-lg) {
    margin-left: 0;
    padding-left: 0;
    text-align: center;
  }
}

.trials__grid {
  /*margin-right: var(--add-padding);*/
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  row-gap: 24px;
}

.trials__grid-text-1 {
  grid-column: 6 / 11;
  grid-row: 1 / 2;
  padding-left: 64px;
  padding-right: calc(var(--add-padding) + 80px);
  display: flex;
  align-items: center;

  @media (--max-lg) {
    padding-left: 32px;
    padding-right: calc(var(--add-padding) + 0px);
  }
}

.trials__grid-text-2 {
  grid-column: 1 / 6;
  grid-row: 2 / 3;
  padding-left: calc(var(--add-padding) * 2);
  padding-right: 48px;
  display: flex;
  align-items: center;

  @media (--max-lg) {
    padding-right: 16px;
  }
}

.trials__grid-text-3 {
  grid-column: 1 / 6;
  grid-row: 3 / 4;
  padding-right: calc(var(--add-padding) * 2 + 48px);
  display: flex;
  align-items: center;

  @media (--max-lg) {
    padding-right: calc(var(--add-padding) * 2 + 16px);
  }
}

.trials__grid-image {
  padding-right: var(--add-padding);
  grid-column: 6 / 11;
  grid-row: 3 / 4;
}

.trials__text {
  font-size: 18px;
  line-height: 22px;
  color: #1f212a;
  text-align: justify;

  @media (--max-lg) {
    font-size: 16px;
    line-height: 20px;
  }
}

.trials__image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.trials__image img {
  display: block;
  max-width: 100%;
  height: auto;
}

.trials__title-alt {
  text-align: center;
  margin-top: 132px;
  font-size: 24px;
  margin-left: calc(var(--add-padding) * 2);
  margin-right: calc(var(--add-padding) * 2);
  line-height: 1.2;
  color: #1f212a;

  @media (--max-lg) {
    margin-top: 96px;
  }
}

.trials__more {
  margin-top: 60px;
  display: flex;
  justify-content: center;

  @media (--max-lg) {
    margin-top: 48px;
  }
}

.trials-articles {
  padding-top: 96px;
  padding-bottom: 96px;
  padding-left: 64px;
  padding-right: 64px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(4, 1fr);

  @media (--max-2xl) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (--max-xl) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (--max-lg) {
    gap: 24px;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    grid-template-columns: repeat(2, 1fr);
  }
}

.article-card {
  position: relative;
}

.article-card__date {
  color: #272935;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 12px;
  display: block;
}

.article-card__image {
  display: flex;
  margin-bottom: 32px;
}

.article-card__image img {
  width: 100%;
  height: auto;
}

.article-card__title {
  color: #272935;
  font-size: 24px;
  line-height: 1.2;
  min-height: calc(3 * 1.2em);
  margin-bottom: 40px;
}

.article-card__excerpt {
  color: #272935;
  font-size: 16px;
  line-height: 1.2;
  min-height: calc(4 * 1.25em);
  margin-bottom: 20px;
}

.article-card__read-more {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #272935;
  border-bottom: 1px solid #58b12e;
}

.article-card__read-more:hover {
  color: rgb(88, 177, 46);
}

.article-card__read-more::after {
  content: '';
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
